{$startform}
	<div class="pageoverflow">
		<p class="pagetext">{$allowed_extensions}:</p>
		<p class="pageinput">{$input_allowed_extensions}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{$use_comment_wysiwyg}:</p>
		<p class="pageinput">{$input_use_comment_wysiwyg}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">&nbsp;</p>
		<p class="pageinput">{$submit}</p>
	</div>
{$endform}
