table.module_fb_table {font-size: 10px; width:600px; margin: 0;}
.module_fb_area_wide {width: 500px;}
.module_fb_legend{font-size: 9px; margin: 6px; border: 1px solid black;}
.module_fb_area_short {width: 500px; height: 100px;}
.module_fb_link {text-decoration: underline;}
.module_fb_fieldset {margin-bottom:2em;}
.module_fbr_table tr.row1:hover, .module_fbr_table tr.row2:hover{background: #CCDBDD;}
.odd {background-color: #fff;text-align:left;vertical-alignment: top;}
.even {background-color: #ddd;text-align:left;vertical-alignment: top;}