/* CSS Document */

.textStyle {
	FONT-SIZE: 8.6pt;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.innertextStyle {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY:  Arial,Verdana, Helvetica, sans-serif;
	text-decoration: none;
}
.innertextStyleSmall {
	FONT-SIZE: 7pt;
	COLOR: #000000;
	FONT-FAMILY:  Arial,Verdana, Helvetica, sans-serif;
	text-decoration: none;
	letter-spacing: 1pt;

}
.txtpadding{
 padding-left:3pt;
}
