/* CSS Document */
.Textboxes{
	height:auto;
	border-style:solid;
	border-width:1;
	border-color:#999999;
	width: auto;

}
.Textboxesmail{
	height:17pt;
	border-style:solid;
	border-width:1;
	border-color:#999999;
	width: 160px;

}
.message{
border-style:solid;border-width:1;border-color:#CCCCCC
}
.button{
	height:20;
	width:200;
	CURSOR: hand;
	COLOR:#FFFFFF;
	background-color: #996600;
	border: 1px solid #999999;
	font-weight: bold;


	



}
