/* CSS Document */
.contents {
	FONT: 7pt Verdana, Arial, Helvetica, sans-serif;
	COLOR:#000000;
	TEXT-DECORATION: none;
}
.mainlinks {
	FONT: 8pt Verdana, Arial, Helvetica, sans-serif;
	COLOR: #ffffff;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: none;
}
.clicklinks {
	FONT: 9pt Arial, Verdana, Helvetica, sans-serif;
	COLOR: #333333;
	TEXT-DECORATION: none;
	letter-spacing: normal;

}

.clicklinks:hover {
	COLOR: #6699cc; TEXT-DECORATION: none;
}
.textin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #333333;
}
.textin1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333333;
}
.locator{
	FONT: 9pt Verdana, Arial, Helvetica, sans-serif;
	COLOR: #000000;
	TEXT-DECORATION: underline;
	letter-spacing: normal;

}
.locator:hover {
	COLOR: #6699cc; TEXT-DECORATION: none;
}
