{$startform}
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_users_per_page}</p>
    <p class="pageinput">{$users_per_page}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_ms_between_message_sleep}</p>
    <p class="pageinput">{$ms_between_message_sleep}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_between_batch_sleep}</p>
    <p class="pageinput">{$between_batch_sleep}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_messages_per_batch}</p>
    <p class="pageinput">{$messages_per_batch}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_email_user_on_admin_subscribe}</p>
    <p class="pageinput">{$email_user_on_admin_subscribe}</p>
  </div>
  <div class="pageoverflow">
    <hr/>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_admin_email}:</p>
    <p class="pageinput">{$admin_email}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_admin_replyto}:</p>
    <p class="pageinput">{$admin_replyto}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_admin_name}:</p>
    <p class="pageinput">{$admin_name}</p>
  </div>
  <div class="pageoverflow">
    <hr/>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_pop3_server}:</p>
    <p class="pageinput">{$pop3_server}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_pop3_username}:</p>
    <p class="pageinput">{$pop3_username}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_pop3_password}:</p>
    <p class="pageinput">{$pop3_password}</p>
  </div>
  <div class="pageoverflow">
    <hr/>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_bounce_limit}:</p>
    <p class="pageinput">{$bounce_limit}&nbsp;<em>{$info_bounce_limit}</em></p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_bounce_messagelimit}:</p>
    <p class="pageinput">{$bounce_messagelimit}&nbsp;<em>{$info_bounce_messagelimit}</em></p>
  </div>
  <div class="pageoverflow">
    <hr/>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_send_admin_copies}</p>
    <p class="pageinput">{$send_admin_copies}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_message_charset}:</p>
    <p class="pageinput">{$message_charset}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">&nbsp;</p>
    <p class="pageinput">{$submit}</p>
  </div>
{$endform}
