/* CSS Document */

.textStyle {
FONT-SIZE: 8pt;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
LINE-HEIGHT: normal;
text-decoration: none;
}
.innertextStyle {
FONT-SIZE: 7.5pt;
COLOR: #0000FF;
FONT-FAMILY:  Arial, Verdana, Helvetica, sans-serif;
text-decoration: none;
}
.innertextStyleSmall {
FONT-SIZE: 11pt;
COLOR: #0000FF;
FONT-FAMILY:  Arial, Verdana, Helvetica, sans-serif;
text-decoration: none;
}
.txtpadding{
padding-left:11pt;
padding-right: 11pt;

}
