/* CSS Document */
.Textboxes{
height:13pt;border-style:solid;border-width:1;border-color:#CCCCCC
}
.message{
border-style:solid;border-width:1;border-color:#CCCCCC
}
.button{
height:20;width:30;border-style:solid;border-width:1;border-color:#CCCCCC;background-color:#f3f3f3;CURSOR: hand;COLOR:#6699cc
}
