/* CSS Document */
.contents {
	FONT: 7pt Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	border: 1pt solid #999999;
	background-color: #F5F5F5;


}
.mainlinks {
FONT: 8.5pt Verdana,Arial, Helvetica, sans-serif;
COLOR: #ffffff;
TEXT-DECORATION: none;
left: 2pt;

}
A:hover {
COLOR: #006699; TEXT-DECORATION: none;
}
.clicklinks {
	FONT: 7.5pt Arial, Verdana, Helvetica, sans-serif;
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	letter-spacing: normal;

}

.clicklinks:hover {
	COLOR: #6699cc; TEXT-DECORATION: none;
}