<ul>
<li>Version 1.0.0. March 2007.  Initial Release.</li>
<li>Version 1.0.1. April 2007.  Fixes to CreateImageLink</li>
<li>Version 1.0.2. April 2007.  CreateImageLink will now work on the frontend.</li>
<li>Version 1.0.3. September 2007.  Adds apply buttons to new templates.</li>
<li>Version 1.1.   September 2007.  Adds default frontend error handling plugin.</li>
<li>Version 1.2.   November  2007,  Adds more convenience functions</li>
<li>Version 1.3.   November  2007.  Adds even more convenience functions</li>
<li>Version 1.4.   December  2007.  Adds CreateImageDropdown method, methods for state and country dropdowns and a bunch of other things.</li>
<li>Version 1.5.   January   2008.  Fixes to html_entities_decode in utf8</li>
<li>Version 1.6.   February  2008,  Adds the CGFileUploadHandler class</li>
<li>Version 1.6.1.   February  2008,  Minor fix to recursive_change_directory</li>
<li>Version 1.8. February 2008
  <ul>
    <li>Add a bunch more utility and convenience methods</li>
    <li>Move countries and states into a table so that they can be used with joins etc.</li>
    <li>Add the ability to prioritize certain countries by name</li>
    <li>Adds the GetSingleTemplateForm method to make it convenient to edit and restore to default a single template.</li>
    <li>Fixes issues with the cancel button when editing templates.</li>
    <li>Update the license.</li>
    <li>Updates to the file upload capabilities</li>
    <li>The module is automatically exported to smarty</li>
    <li>Add the get_action_id and set_action_id virtual methods that should be overridden by any module derived from CGExtensions.</li>
  </ul>
  </li>
<li>Version 1.8. May 2008
  <ul>
    <li>Minor change and addition to RedirectToTab</li>
  </ul>
</li>
<li>Version 1.10. September 2008
  <ul>
    <li>Added Watermarking functions.  Other modules can now use CGExtensions
        to add watermarks to images.</li>
    <li>Re-organized the functions, made the core module a bit smaller (there 
        is still more to do), and utilize some lazy-loading stuff.</li>
    <li>Added a CreateInputColorDropdown function, or something like that.  This thing is funky, uses javascript to do neat color changes.  Thanks _SjG_</li>
    <li>More bug fixes, and convenience thingies.</li>
  </ul>
</li>
<li>Version 1.10.1. September 2008
  <ul>
    <li>Minor Bug Fixes.</li>
    <li>Upgrade template forms to allow them to work on an action other than defaultadmin</li>
  </ul>
</li>
<li>Version 1.10.2. September 2008
  <ul>
    <li>Minor Bug Fixes.</li>
  </ul>
</li>
<li>Version 1.10.3. October 2008
  <ul>
    <li>Support for syntax hilighter when editing templates.</li>
  </ul>
</li>
<li>Version 1.12 December 2008
  <ul>
    <li>Add numerous more methods.</li>
  </ul>
</li>
<li>Version 1.13 December 2008
  <ul>
    <li>Add the Sortable List Area functionlity</li>
    <li>Add another smarty tag for state options.</li>
  </ul>
</li>
<li>Version 1.14 December 2008
  <ul>
    <li>Added us_date_format modifier.</li>
  </ul>
</li>
<li>Version 1.14.1 December 2008
  <ul>
    <li>Changed us_date_format modifier to rfc_date modifier</li>
    <li>Fixed problem with nested forms.</li>
  </ul>
</li>
<li>Version 1.15 January 2009
  <ul>
    <li>Added the GetCurrentURL() method.</li>
  </ul>
</li>
<li>Version 1.15.1  February 2009
  <ul>
    <li>Fixed the piority countries sorting thing.</li>
  </ul>
</li>
<li>Version 1.15.2  March 2009
  <ul>
    <li>Fixes (hopefully) the &quot;request uri too large&quot; issue on apply.</li>
  </ul>
</li>
<li>Version 1.15.3  March 2009
  <ul>
    <li>Adds the ability select multiple files in the file dropdown.</li>
  </ul>
</li>
<li>Version 1.16  July 2009
  <ul>
    <li>Numerous bugfixes and new features.</li>
  </ul>
</li>
<li>Version 1.16.1  July 2009
  <ul>
    <li>Fix problem with apply button in template editing.</li>
  </ul>
</li>
<li>Version 1.16.1  July 2009
  <ul>
     <li>Add http_post method.</li>
  </ul>
</li>
</ul>
